body { margin:0 auto; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size:18px; font-weight:300; color:#444; background-color:#fff; }

a { color:#4183c4; text-decoration:none; }

header { width:100%; height:32px; position:fixed;
         top:0; left:0; color:#fff; background-color:#34a7d6; }

#logo, #topmenu { display:inline-block; }
#topmenu { float:right; }

#logo h1 { display:inline-block; font-size:24px; margin:0 0 0 34px; }
#logo p, #topmenu p, #navicon p { display: inline-block; margin:0; }
#topmenu ul { list-style:none; padding:0; margin:0; }
#topmenu li { display: inline-block; margin:0 8px; }
header span.fa { line-height:32px; }
header a, header a:hover { color: #fff; text-decoration: none; }

#navicon { position:fixed; top:0; left:0; z-index:200; color:#fff; }
#navicon span.fa { line-height:32px; opacity:0.3; }

#toc { position:fixed; top:32px; left:0; bottom:0; width:200px; padding-top:0.5em; overflow-y:auto; z-index:200; background-color:#f7f7f7; transition:left 0.4s; }
#toc ul { list-style:none; margin:0; padding:0; }

#toc a { display:block; font-size:16px; text-decoration:none; color:#555; padding:4px 10px; line-height:1.4; }
#toc a:hover { color:#eee; background-color:#777; }

#main { position:fixed; top:32px; left:200px; bottom:0; right:0; overflow-y:auto; transition:left 0.4s; }
#content { max-width:740px; margin:0 auto; padding:0 20px; }

#content h1, #content h2, #content h3, #content h4, #content h5 { margin-bottom:0.2em; margin-top:1em; }

@media only screen and (max-width: 940px) {
#toc { left:-1000px; }
#main { left:0; }
#navicon span.fa { opacity:1; }
#navicon:hover span.fa { font-size:1.5em;  }
#navicon:hover #toc { left:0;}
}

@media print {
html, body { font-size: 10px; color:#000; }
a { color: #000; text-decoration: underline; }
.toc { display:none; }
}